label.detail-label {
    width: 100%;
    display: block;
}

label.detail-label > select,
label.detail-label > input {
    display: block;
    width: 100%;
    padding: 0.3em 0.5em;
}

div.third-results {
    position: absolute;
    background: #ffffff;
    top: 5em;
    display: block;
    width: 100%;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 1px 0px 3px;
}

div.third-results .item-result {
    cursor: pointer;
}

div.third-results .item-result:hover {
    background: #ecf0f1;
}

div.third-results > span > span {
    border-right: 1px solid #ecf0f1;
}