<div [hidden]="!chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>

<div class="content">
  <button mat-icon-button class="add-main-button" (click)="edit_production(detail,{})">+</button>
</div>

<ng-template #detail let-c="close" let-d="dismiss" class="modal fade">
  <div class="modal-header">
    <h4 class="modal-title">
      <span class="text-muted">Producción</span> 
      <span *ngIf="productions && employee">{{employee.names}} {{employee.surnames}}</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="production_loading"></mat-progress-bar>
  <div class="modal-body">
    <!--
    <button type="button" class="btn">
      <mat-icon>navigate_before</mat-icon>
      <span aria-hidden="true">Volver</span>
    </button>
    -->
    <div *ngIf="productions; else new" class="header-grid">
      <span class="header-date" *ngIf="production.date && false">{{production.date | date:'yyyy-MM-dd'}}</span>
    </div>
    <ng-template #new>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="col-md-12">
              <input matInput [(ngModel)]="search" (keyup)="find_employee(search)" placeholder="Empleado" [disabled]="production_loading || employee_tmp">
            </mat-form-field>
          </div>
          <!--<div class="col-md-5">
            <mat-form-field>
              <input matInput [matDatepicker]="matDate" [(ngModel)]="date" placeholder="Fecha" [disabled]="production_loading">
              <mat-datepicker-toggle matSuffix [for]="matDate"></mat-datepicker-toggle>
              <mat-datepicker #matDate></mat-datepicker>
            </mat-form-field>
          </div>
          -->
          <div *ngIf="employeeList" class="results col-md-7">
            <mat-list *ngIf="employeeList">
              <ng-template *ngFor="let item of employeeList" [ngIf]="true">
                <mat-list-item class="item-result" (click)="set_item(item)">
                    {{item.document_number}} | {{item.names}} {{item.surnames}}
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-template>
            </mat-list>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="production.id">
      <div *ngIf="production_details.length > 0" >
        <table class="details-title">
          <thead>
            <tr>
              <th>PRODUCTO</th>
              <th>PRESENTACION</th>
              <th>CANTIDAD</th>
              <th>LOTE</th>
              <th>PAGO TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of production_details">
              <td>
                <select [(ngModel)]="detail.product_id" disabled="disabled">
                  <option *ngFor="let item of products" [ngValue]="item.id">
                    {{item.name}}
                  </option>
                </select>
              </td>
              <td>
                <select [(ngModel)]="detail.presentation_id" disabled="disabled">
                  <option *ngFor="let item of presentations" [ngValue]="item.id">
                    {{item.name}}
                  </option>
                </select>
              </td>
              <td>
                <span>{{detail.amount}}</span>
              </td>
              <td>
                <span>{{detail.batch}}</span>
              </td>
              <td>
                <span>{{detail.cost | currency:'$'}}</span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4" class="text-right">Valor Total</th>
              <td>{{production.cost | currency:'$':'symbol'}}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </ng-template>
    <ng-template [ngIf]="production.id === undefined" #showProductions>
      <div *ngIf="productions" class="col-md-5">
        <table class="table details-title">
          <thead>
            <tr>
              <th>FECHA</th>
              <th>VALOR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productions" (click)="set_production(item)">
              <td>
                <span>{{item.date | date:'yyyy-MM-dd'}}</span>
              </td>
              <td>
                <span>{{item.cost | currency:'$'}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
    <div *ngIf="production.id">
        <button mat-icon-button class="add-button" (click)="add(editDetail,{})" [disabled]="production_loading">+</button>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="!production.id" mat-button class="btn btn-outline-secondary" (click)="save()" [disabled]="production_loading || !date || !employee_tmp">Continuar</button>
  </div>
</ng-template>

<ng-template #editDetail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Producido</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()" [disabled]="detail_loading">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="detail_loading"></mat-progress-bar>
  <div class="modal-body">
    <div *ngIf="production_detail; else detailEmpty" class="production-detail">
      <mat-form-field class="col-lg-4 col-md-5">
        <input matInput type="text" [(ngModel)]="production_detail.batch" placeholder="Lote" [disabled]="detail_loading">
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-5">
          <mat-select placeholder="Producto" [(ngModel)]="production_detail.product_id" name="product_id" [disabled]="detail_loading">
            <mat-option *ngFor="let item of products" [value]="item.id">
                {{item.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field class="col-lg-3 col-md-5">
          <mat-select placeholder="Presentación" [(ngModel)]="production_detail.presentation_id" name="presentation_id" [disabled]="detail_loading">
            <mat-option *ngFor="let item of presentations" [value]="item.id">
                {{item.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field  class="col-lg-4 col-md-5">
        <input matInput [matDatepicker]="matDateStartDate" [(ngModel)]="production_detail.start_date" placeholder="Fecha Producción" [disabled]="detail_loading || true" (ngModelChange)="detail_date_changed()">
        <mat-datepicker-toggle matSuffix [for]="matDateStartDate"></mat-datepicker-toggle>
        <mat-datepicker #matDateStartDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field  class="col-lg-4 col-md-5">
        <input matInput [matDatepicker]="matDateExpirationDate" [(ngModel)]="production_detail.expiration_date" placeholder="Fecha Vencimiento" [disabled]="detail_loading">
        <mat-datepicker-toggle matSuffix [for]="matDateExpirationDate"></mat-datepicker-toggle>
        <mat-datepicker #matDateExpirationDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-lg-3 col-md-5">
        <input matInput type="number" [(ngModel)]="production_detail.amount" placeholder="Cantidad" [disabled]="detail_loading">
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-5">
        <input matInput type="number" [(ngModel)]="production_detail.cost" placeholder="Valor unitario" [disabled]="detail_loading">
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-5">
        <input matInput type="number" [(ngModel)]="total_cost" readonly="readonly" value="{{production_detail.amount*production_detail.cost}}" placeholder="Valor total" [disabled]="detail_loading">
      </mat-form-field>
    </div>
    <ng-template #detailEmpty>Error no deberia estar viendo esta pantalla</ng-template>
  </div>
  <div class="modal-footer">
    <button mat-button class="btn btn-outline-secondary" (click)="save_detail()" [disabled]="detail_loading || !production_detail.amount || !production_detail.presentation_id || !production_detail.product_id || !production_detail.cost">Guardar</button>
  </div>
</ng-template>