@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: 'Ubuntu', sans-serif;
}

body, html {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 100px;
    grid-template-areas: 
    "header header header header header header "
    "menu routerOulet routerOulet routerOulet routerOulet routerOulet";
}

.wrapper::before {
    content: "";
    grid-area: menu;
}

.wrapper > .headerModule {
    grid-area: headerModule;
}

.wrapper > .header {
    grid-area: header;
}

.wrapper > .routerOulet {
    grid-area: routerOulet;
}

.fixed {
    position: fixed;
    top: 0;
    margin: 0;
}

h1 {
    font-size: 100%;
    margin: auto;
}


/*************************************************************************************************/
/**********************************************COMPONENTS****************************************/

div.content {
    width: 80%;
    display: inline-block;
}

table {
    border-collapse:separate;
    border-spacing:0;
    width:100%;
    padding-top: 45px;
}

table > tbody > tr:hover  {
    background-color: #f3f3f3;
    cursor: pointer;
}

table tr th {
    background-color:#f4f4f4;
    border-style:solid;
    border-width:0 0 1px 0;
    border-color:#eaeaea;
    padding:15px 20px;
    font-size:12px;
    font-weight:600;
    color:#2d2d2d;
    letter-spacing:0.25em;
    text-transform:uppercase;
}
    
table tr:first-child th {
    border-width:1px 0 1px 0;
}

table thead + tbody tr:first-child th:first-child {
    border-top-width:0;
}

table tr th:last-child {
    border-right-width:1px;
}

table tr td {
    border-style:solid;
    border-width:0 1px 1px 0;
    border-color:#eaeaea;
    padding:10px 20px;
    font-size:15px;
    font-weight:400;
    color:#2d2d2d;
}

table tr:first-child td {
    border-top-width:1px;
}

table thead + tbody tr:first-child td{
    border-top-width:0px;
}

table tr th:first-child,table tr td:first-child {
    border-left-width:1px;
}
    
table thead tr:first-child th:first-child {
    border-top-left-radius:10px;
    border-bottom-left-radius:0px;
}

table thead + tbody tr:first-child th:first-child {
    border-top-left-radius:0;
}
    
table tr:first-child th:last-child,table tr:first-child td:last-child {
    border-top-right-radius:10px;
}

table thead + tbody tr:first-child td:last-child {
    border-top-right-radius:0;
}
    
table tr:last-child td:first-child {
    border-bottom-left-radius:10px;
}

table tr:last-child th:first-child {
    border-bottom-left-radius:10px;
}
    
table tr:last-child td:last-child{
    border-bottom-right-radius:10px;
}

input#search {
    width: 93%;
    height: 40px;
    float: left;
    color: #9c9c9c;
    text-indent: 45px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #f4f4f4;
    cursor: text;
}

input#search:hover, input[type=text]:hover{
    box-shadow: 0px 0px 10px #cdd6db;
}

fieldset {
    border: 1px solid #eaeaea;
    padding: 0.5em;
}

fieldset legend {
    border: 1px solid #eaeaea;
    display: inline-block;
    width: auto;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px;
}

h1, button.button {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 300;
}

button.button {
    background-color: #373737;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 15px 30px;
}

input[type=text] {
    border-radius: 5px;
    font-weight: 500;
    color: #9c9c9c;
    border: none;
    outline: none;
    background-color: #f4f4f4;
    padding: 10px 15px;
}

button.addButton {
    height: 40px;
    width: 40px;
    float: right;
    border-radius: 25px;
    padding: 0px;
}

button.addButton:hover {
    background-color: #455a64;
    box-shadow: rgba(28,56,72,0.1) 0px 8px 8px;
}

select[disabled] {
    border: none;
    outline: none;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
}

[readonly] {
    cursor: default;
    background: #ecf0f1;
}

.mat-datepicker-popup, .cdk-overlay-container {
    z-index: 1060!important;
}

snack-bar-container.snack-bar-custom {
    background: #1c313a;
}

div.component-content {
    display: block!important;
}

button.add-main-button {
    position: fixed!important;
    right: 5%;
    bottom: 5%;
    background: #455a64;
    color: #ffffff;
}

button.add-button {
    position: relative!important;
    right: 5%;
    bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: 0;
    background: #455a64;
    color: #ffffff;
}

button.add-main-button:hover {
    background: #1c313a;
}

div.header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "names . date";
}

div.header-grid > span.header-names {
    grid-area: names;
}

div.header-grid > span.header-date {
    grid-area: date;
}